@import "compass/css3";
@import "import/_normalize.scss";
@import "import/_variables.scss";
@import "import/_grid.scss";
@import "import/_mixins";
@import "import/_font-awesome";
@import "import/_sidemenu";
@import "import/_work-template";

body {
	background: 				$bgColour;
	color: 						$textColour;
	font: 						$font;
	font-weight: 				300;
	min-height: 1000px;
	-webkit-font-smoothing: 	antialiased;

	@media print {
		color: 					$linkColour;
	}
}

.fadeOut {
	opacity: 					0;
}

.fadeIn {
	opacity: 					1 !important;
	@include transition(0.6s all ease-in-out);
}

.ಠ_ಠ {
	display:					none;
}

::selection {
	background: 				$proferoYellow;
}

.padding {
	padding: 					$gutter;
}

.container {
	@extend 					%grid;
}

.invisible {
	position: 					absolute;
	top: 						-9999px;
	left: 						-9999px;

	@media print {
		top: 					0;
		left: 					0;
	}
}

a {
	color: 						$linkColour;
	text-decoration: 			none;

	&:active,
	&:focus,
	&:hover {
		text-decoration: 		underline;
		@include transition(0.2s all ease-in-out);
	}

	&.question {
		border-bottom: 			1px dashed $linkColour;
		cursor: 				help;

		&:active,
		&:focus,
		&:hover {
			border: 			none;
			text-decoration: 	none;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 				$font;
	font-weight: 				300;
}

.button {
	background: 				transparent;
	border: 					2px solid $buttonBorder;
	display: 					block;
	font-weight: 				400;
	padding: 					$gutter/2;
	text-align: 				center;
	text-transform: 			uppercase;
	@include border-radius(3px);

	&:active,
	&:focus,
	&:hover {
		background: 			$buttonBorder;
		color: 					$white;
		text-decoration: 		none;
	}

	&.special {
		background: 			$buttonSpecialBg;
		border: 				none;

		&:active,
		&:focus,
		&:hover {
			background: 		$textColour;
		}
	}
}

/*------------------------------------------*/

.page-header {
	background: 				$white;
}

.logo {
	@extend 					%grid__item;
	@extend 					%lap--two-fifths;
	@extend 					%desk--one-third;

	h1 {
		float: 					left;
		margin: 				0;
		width: 					85%;

		a {
			@extend 			.padding;
			cursor: 			normal;
			display: 			block;

			img {
				height: 		auto;
				width: 			100%;

				@media print {
					margin: 	0 auto;
					width: 		30%;
				}
			}
		}
	}

	.menu-toggle {
		box-sizing: 			border-box;
		float: 					left;
		font-size: 				2em;
		margin-top: 			$gutter;
		padding: 				5px;
		text-align: 			center;
		width: 					15%;
		@include border-radius(3px);

		&:active,
		&:focus,
		&:hover {
			background: 		$bgColour;
			text-decoration: 	none;
		}
	}

	@include breakpoint(palm) {
		h1 {
			width: 				100%;
		}
		.menu-toggle {
			display: 			none;
		}
	}
}

.nav {
	@extend 					%grid__item;
	@extend 					%lap--three-fifths;
	@extend 					%desk--two-thirds;

	@extend .fadeOut;
	
	@media print {
		display: 				none;
	}

	.menu {
		display: 				none;
		margin-top: 			-$gutter;
		text-align: 			center;

		@include breakpoint(palm) {
			display: 			block;
			float: 				right;
			margin-top: 		0;
			padding-right: 		$gutter;
		}
	}

	li {
		display: 				inline-block;

		a {
			display: 			block;
			font-weight: 		600;
			padding: 			0 $gutter/2;
			//text-transform: 	uppercase;

			&:active,
			&:focus,
			&:hover {
				background: 	$bgColour;
				text-decoration: none;
			}

			@media (min-width: 481px) and (max-width:540px) {
				padding: 		0 $gutter/3;
			}
		}
	}
}

/*------------------------------------------*/

.intro {
	background: 				$white;
	overflow: 					hidden;
	padding: 					0 $gutter $gutter $gutter;

	h2 {
		font-size: 				3.5em;
		margin: 				0;
		@extend .fadeOut;
	}

	h3 {
		font-size: 				2em;
		margin: 				0;
		@extend .fadeOut;
	}

	.button {
		margin: 				$gutter;
	}

	.question {
		margin-left: 			$gutter;
	}

	@include breakpoint(palm) {
		.button {
			margin: 			$gutter/2 0 0 0;
		}
		.question {
			margin-left: 		0;
		}
	}

	@include breakpoint(lap) {
		.button {
			margin: 			$gutter 0 0 0;
		}
	}

	@media print {
		padding: 				0;
	}
}

.hgroup {
	@extend 					%grid__item;
	@extend 					%lap--two-thirds;
	@extend 					%desk--two-thirds;

	text-align: 				center;

	@include breakpoint(palm) {
		text-align: 			left;
	}
}

.cta {
	@extend 					%grid__item;
	@extend 					%lap--one-third;
	@extend 					%desk--one-third;
	@extend .fadeOut;

	@media print {
		display: 				none;
	}
}

.whychooseprofero {
	@extend 					%grid__item;
	display: 					none;
	line-height: 				1.4;

	p {
		padding: 				0 $gutter;

		@include breakpoint(palm) {
			padding: 			0;
		}
	}
}

/*------------------------------------------*/

.work {
	//background: 				url(../images/bg.jpg) no-repeat top center;
	background-size: 			cover;
	overflow: 					hidden;
	position: 					relative;
	@extend .fadeOut;

	.container {
		margin-left: 			0;
		padding: 				$gutter/2;
	}

	.portfolio-container {
		background: 			$bgColour;
		display: 				none;
		left: 					0;
		position: 				absolute;
		top: 					0;
		width: 					100%;
	}

	h3 {
		display: 				none;
		background: 			rgba($white,0.5);
		color: 					#444;
		font-size: 				1.5em;
		margin: 				0;
		padding: 				$gutter;
		text-align: 			center;
	}

	@media print {
		display: 				none;
	}
}

.work-item {
	@extend 					%grid__item;
	@extend 					%one-whole;
	@extend 					%lap--one-half;
	@extend 					%desk--one-third;
	padding-left: 				0;

	a {
		display: 				block;
		margin: 				$gutter/2;
		overflow: 				hidden;
		position: 				relative;
		text-align: 			center;
		//@include box-shadow(0 0 16px rgba($linkColour,0.6));

		img {
			width: 				800%;

			&.blossomhill {
				margin-left: 	-200%;
			}
			&.catalent {
				margin-left: 	-600%;
			}
			&.malts {
				margin-left: 	-500%;
			}
			&.omo {
				margin-left: 	-100%;
			}
			&.roadshow {
				margin-left: 	-400%;
			}
			&.smirnoff {
				margin-left: 	-300%;
			}
		}

		&:active,
		&:focus,
		&:hover {

			img {
				-webkit-filter: blur(2px);
				@include transition(0.2s all ease-in-out);
			}

			.info {
				opacity: 		1;
				top:0;
				@include transform(scale(1));
				@include transition(0.4s all ease-in-out);
			}
		}
	}

	.info {
		background: 			rgba(0,0,0,0.7);
		box-sizing: 			border-box;
		height: 				100%;
		left: 					0;
		padding: 				0 $gutter $gutter $gutter;
		position: 				absolute;
		top:80%;
		width: 					100%;
		@include transition(0.4s all ease-in-out);

		h4 {
			color: 				$white;
			font-size: 			2em;
			margin: 			15px 0 $gutter*2 0;
		}

		p {
			color: 				$proferoYellow;
			font-weight: 		400;
		}

		.icon {
			color: 				$white;
			font-size: 			2em;
		}

		@include breakpoint(palm) {
			opacity: 			0;
			padding: 			$gutter;
			top: 				0;
			@include transform(scale(2));

			h4 {
				margin: 		$gutter 0;
			}
		}
	}
}

/*------------------------------------------*/

.clients {
	background: 				$white;

	.apple {
		background-position:  	0 0 !important;
		@media print {
			margin-left: 		0;
		}
	}
	.baileys {
		background-position:  	5% 0 !important;
		@media print {
			margin-left: 		-5%;
		}
	}
	.blossomhill {
		background-position:  	10% 0 !important;
		@media print {
			margin-left: 		-10%;
		}
	}
	.catalent {
		background-position:  	15% 0 !important;
		@media print {
			margin-left: 		-15%;
		}
	}
	.circa {
		background-position:  	20% 0 !important;
		@media print {
			margin-left: 		-20%;
		}
	}
	.dfs {
		background-position:  	25% 0 !important;
		@media print {
			margin-left: 		-25%;
		}
	}
	.diageo {
		background-position:  	30% 0 !important;
		@media print {
			margin-left: 		-30%;
		}
	}
	.dyson {
		background-position:  	35% 0 !important;
		@media print {
			margin-left: 		-35%;
		}
	}
	.johnniewalker {
		background-position:  	40% 0 !important;
		@media print {
			margin-left: 		-40%;
		}
	}
	.lufthansa {
		background-position:  	45% 0 !important;
		@media print {
			margin-left: 		-45%;
		}
	}
	.m1 {
		background-position:  	50% 0 !important;
		@media print {
			margin-left: 		-50%;
		}
	}
	.nutricia {
		background-position:  	55% 0 !important;
		@media print {
			margin-left: 		-55%;
		}
	}
	.pimms {
		background-position:  	60% 0 !important;
		@media print {
			margin-left: 		-60%;
		}
	}
	.pizzahut {
		background-position:  	65% 0 !important;
		@media print {
			margin-left: 		-65%;
		}
	}
	.roadshow {
		background-position:  	70% 0 !important;
		@media print {
			margin-left: 		-70%;
		}
	}
	.smirnoff {
		background-position: 	75% 0 !important;
		@media print {
			margin-left: 		-75%;
		}
	}
	.soho {
		background-position:  	80% 0 !important;
		@media print {
			margin-left: 		-80%;
		}
	}
	.talisker {
		background-position:  	85% 0 !important;
		@media print {
			margin-left: 		-85%;
		}
	}
	.unilever {
		background-position:  	90% 0 !important;
		@media print {
			margin-left: 		-90%;
		}
	}
	.vonage {
		background-position:  	95% 0 !important;
		@media print {
			margin-left: 		-95%;
		}
	}
	.westernunion {
		background-position:  	100% 0 !important;
		@media print {
			margin-left: 		-100%;
		}
	}

	@media print {
		page-break-before: 		avoid;
	}

}

.testimonials {
	@extend 					%grid__item;
	@extend 					%lap--two-thirds;
	@extend 					%desk--two-thirds;
	@extend 					%push--lap--one-sixth;
	@extend 					%push--desk--one-sixth;

	@extend .fadeOut;

	h1 {
		font-size: 				2.5em;
		margin: 				$gutter*2 0 0 0;
		padding: 				0 $gutter;
		text-align: 			center;
	}

	h2 {
		margin: 				0 0 $gutter*2 0;
		padding: 				0 $gutter;
		text-align: 			center;
	}
}

.testimonials-carousel {
	box-sizing: 				border-box;
	margin: 					$gutter 0;
	overflow: 					hidden;
	padding: 					0 $gutter;
	position: 					relative;

	@media print {
		margin: 				0;
	}
}

.testimonial{
		border-top: 			1px solid #f4f4f4;
		opacity: 				0;
		padding: 				$gutter 0;
		position: 				absolute;
		text-align: 			left;
		top: 					0;
		width: 					100%;
		z-index: 				0;

		@media print {
			border: 			none !important;
			clear: 				both !important;
			display: 			block !important;
			opacity: 			1 !important;
			padding: 			0 !important;
			position: 			relative !important;
			top: 				auto !important;
		}

		.client-logo {
			background: 		url(../images/logo-sprite.jpg) no-repeat;
			background-position: 0 0;
			background-size: 	2100% 100%;
			float: 				right;
			height: 			90px;
			margin: 			0 $gutter;
			overflow: 			hidden;
			width: 				90px;
			@include breakpoint(palm) {
				height: 		180px;
				width: 			180px;
			}
		}

		&.current {
			opacity: 			100;
			pointer-events: 	auto;
			position: 			relative;
			z-index: 			100;
		}
		&:before,
		&:after {
			content: 			"";
			display: 			table;
		}
		&:after {
			clear: 				both;
		}
}

.progress {
	background: 				$proferoYellow;
	height: 					1px;
	left: 						0;
	position: 					absolute;
	top:						0;
	width: 						0%;
	z-index: 					1000;

	@media print {
		display: 				none;
	}
}

blockquote {
	border-left: 				0;
	margin: 					0;
	padding: 					0;

	p {
		font-family: 			$font;
		font-size: 				1.5em;
		font-weight: 			300;
		margin: 				0.4em 0 1em;

		@include breakpoint(mobile) {
			font-size: 			2em;
		}
	}

	footer {
		font-size:				75%;
		font-weight: 			bold;
		text-transform:			uppercase;
	}

	span {
		color:					$proferoYellow;
	}
}

.clients-logos {

	margin: 					0;
	padding: 					0;

	@extend 					%grid__item;
	@extend 					%one-whole;
	@extend 					%lap--three-quarters;
	@extend 					%desk--three-quarters;
	@extend 					%push--lap--one-eighth;
	@extend 					%push--desk--one-eighth;

	@extend .fadeOut;

	list-style-type: 			none;
	padding-left: 				0;
	position: 					relative;

	li {

		margin: 				0;
		opacity: 				0.4;
		padding: 				0;

		@extend 				%grid__item;
		@extend 				%one-quarter;
		@extend 				%lap--one-sixth;
		@extend 				%desk--one-sixth;

		background: 			url(../images/logo-sprite.jpg) no-repeat;
		background-size: 		2100% 100%;
		overflow: 				hidden;
		padding-left: 			0;
		text-indent: 			-999px;

		@media print {
			display: 			none;
		}

	}

	@media print {
		&:after {
			content: 			"SOME OF OUR CLIENTS: Apple, Baileys, Blossom Hill, Catalent, Circa, DFS Galleria, Diageo, Dyson, Johnnie Walker, Lufthansa, M1, Nutricia, Pimms, Pizza Hut, Village Roadshow, Smirnoff, SOHO China, Talisker, Unilever, Vonage, Western Union";
			display: 			block;
			margin-bottom: 		$gutter;
		}
	}
}

.logo-container {
	padding: 0 $gutter;
}

/*------------------------------------------*/

.banner {
	background: 				$proferoYellow;
	color: 						$linkColour;
	padding: 					$gutter;
	text-align: 				center;

	h1 {
		font-weight: 			400;
	}

	.button {
		background: 			$white;
		border: 				none;
		display: 				inline-block;
		font-size: 				60%;
		margin-top: 			$gutter;
		width: 					200px;

		@include breakpoint(palm) {
			margin-left: 		$gutter;
			margin-top: 		0;
		}

		&:active,
		&:focus,
		&:hover {
			background: 		$linkColour;
			color: 				$white;
		}
	}

	@media print {
		display: 				none;
	}
}

.map {
	position: 					relative;

	@extend .fadeOut;

	@media print {
		//page-break-before: 		always;
	}
}

.map-container {
	height: 					100%;
	left: 						0;
	position: 					absolute;
	top: 						0;
	width: 						100%;
	z-index: 					1;

	@media print {
		position: 				relative !important;
		height: 				10cm;
		top: 					auto;
	}
}

.contact-details {
	background: 				rgba(0,0,0,0.5);
	color: 						$white;
	height: 					100%;
	overflow: 					hidden;
	padding:					$gutter*3 0;
	position: 					relative;
	text-align: 				center;
	width: 						100%;
	z-index: 					2;

	@media print {
		background: 			none;
		position: 				relative !important;
		top: 					auto;
	}

	h1 {
		font-weight: 			400;
		padding: 				0 $gutter;

		@include breakpoint(palm) {
			padding: 			0 $gutter*3;
		}

		@media print {
			margin: 			$gutter/2 0;
		}
	}

	h2 {
		font-weight: 			400;

		@include breakpoint(palm) {
			line-height: 		1;
		}

		@media print {
			margin: 			0;
		}
	}
}

.contact-method {
	background: 				$footerColour;
	color: 						#777;
	display: 					inline-block;
	height: 					80px;
	line-height: 				90px;
	margin: 					$gutter $gutter/2;
	position: 					relative;
	width: 						80px;
	@include border-radius(40px);
	@include transition(0.3s all ease-in-out);

	.icon {
		font-size: 				2em;
	}

	&:active,
	&:focus,
	&:hover {
		background: 			$linkColour;
		color: 					$white;
		text-decoration: 		none;
		@include transition(0.3s all ease-in-out);
	}

	@media print {
		display: 				none;			
	}
}

.address {
	background: 				rgba($white,0.75);
	padding: 					$gutter;

	@media print {
		padding: 				0;
		position: 				relative;
		> * {
			display: 			block;
		}
		[title="Find us"] {
			display: 			none;
		}
	}
}

/*------------------------------------------*/

.page-footer {
	background: 				$footerColour;
	color: 						$white;
	font-size: 					80%;
	text-align: 				center;

	p {
		margin: 				0;
		padding: 				$gutter/2 0;
	}

	a {
		color: 					$proferoYellow;
	}
}

#backtotop {
	background: 				$linkColour;
	background: 				rgba($linkColour,0.5);
	@include border-radius($gutter);
	bottom: 					$gutter;
	color: 						$white;
	display: 					block;
	font-size: 					1.4em;
	height: 					$gutter*2;
	line-height: 				$gutter*1.8;
	opacity: 					0;
	position: 					fixed;
	right: 						$gutter;
	text-align: 				center;
	@include transition(0.3s all ease-in-out);;
	width: 						$gutter*2;
	z-index: 					500;

	&.shown {
		opacity: 				30;
	}

	.icon:before {
		margin-top: 			-5px;
	}

	&:active,
	&:focus,
	&:hover {
		background: 			rgba($linkColour, 0.9);
		opacity: 				1;
		text-decoration: 		none;
		@include breakpoint(0.3s all ease-in-out);
	}

	@media print {
		display: 				none;
	}
}

#menu-content {
	display: 					none;
}

.view-enter-setup,
.view-leave-setup {
	@include transition(all 0.5s ease-in-out);
}
.view-enter-setup {
	opacity: 					0;
}
.view-enter-setup.view-enter-start {
	opacity: 					1;
}
.view-leave-setup {
	opacity: 					1;
}
.view-leave-setup.view-leave-start {
	opacity: 					0;
}