.page-404,
.page-404 body {
	background: 		$black;
	color: 				$white;
	text-align: 		center;

	h1 {
		margin: 		0;
	}

	img {
		display: 		block;
		height: 		auto;
		margin: 		$gutter auto;
		max-width: 		768px;
		width: 			80%;

		@include breakpoint(palm) {
			width: 		50%;
		}

		@include breakpoint(lap) {
			width: 		30%;
		}
	}

	.button.yellow {
		background: 	$yellow;
	}

	.button,
	.button.yellow {
		&:active,
		&:focus,
		&:hover {
			background: $white;
		}
	}
}

.fourohfour {
	margin: 			0 auto;
	max-width: 			70%;
}