.client-logos {
	@extend 			%grid--full;
}

.client-logo-container {
	@extend 			%grid__item;
	@extend 			%one-third;
	@extend 			%lap--one-quarter;
	@extend 			%desk--one-sixth;
}

.client-logo {
	background: 		$reallylightgrey;
	margin: 			$gutter/4;
	overflow: 			hidden;
	padding: 			$gutter/2;

	@include breakpoint(desk) {
		opacity: 		0.6;

		&:hover {
			opacity: 	1;
		}
	}

	.img-wrapper {
		margin: 		0 auto;
		max-width: 		100%;
		overflow: 		hidden;
		width: 			150px;
	}

	img {
		display: 		block;
		height: 		150px;
		width: 			3150px;
	}

	&.apple {
		img {
			margin-left: 0;
		}
	}

	&.baileys {
		img {
			margin-left: -100%;
		}
	}
	&.blossomhill {
		img {
			margin-left: -200%;
		}
	}
	&.catalent {
		img {
			margin-left: -300%;
		}
	}
	&.circa {
		img {
			margin-left: -400%;
		}
	}
	&.dfs {
		img {
			margin-left: -500%;
		}
	}
	&.diageo {
		img {
			margin-left: -600%;
		}
	}
	&.dyson {
		img {
			margin-left: -700%;
		}
	}
	&.johnniewalker {
		img {
			margin-left: -800%;
		}
	}
	&.lufthansa {
		img {
			margin-left: -900%;
		}
	}
	&.m1 {
		img {
			margin-left: -1000%;
		}
	}
	&.nutricia {
		img {
			margin-left: -1100%;
		}
	}
	&.pimms {
		img {
			margin-left: -1200%;
		}
	}
	&.pizzahut {
		img {
			margin-left: -1300%;
		}
	}
	&.roadshow {
		img {
			margin-left: -1400%;
		}
	}
	&.smirnoff {
		img {
			margin-left: -1500%;
		}
	}
	&.soho {
		img {
			margin-left: -1600%;
		}
	}
	&.talisker {
		img {
			margin-left: -1700%;
		}
	}
	&.unilever {
		img {
			margin-left: -1800%;
		}
	}
	&.vonage {
		img {
			margin-left: -1900%;
		}
	}
	&.westernunion {
		img {
			margin-left: -2000%;
		}
	}
}