.banner {
	background: 			$yellow;
	padding: 				$gutter;
	text-align: 			center;

	h1 {
		color: 				$almostblack;
		display: 			inline-block;
		margin: 			0;
		vertical-align: 	middle;
	}

	.button {
		background: 		$white;
		display: 			block;
		margin: 			$gutter auto 0 auto;
		vertical-align: 	middle;
		width: 				130px;

		@include breakpoint(desk) {
			display: 		inline-block;
			margin: 		0 0 0 0;
			width: 			auto;
		}

		@media print {
			display: 		none;
		}

		&:active,
		&:focus,
		&:hover {
			background: 	$black;
			color: 			$white;
		}
	}

	.button + h1 {
		color: red;
	}
}

.contact-wrapper {
	@extend 				%grid--full;
}

.contact-details {
	@extend 				%grid__item;
	@extend 				%lap--one-half;
	@extend 				%desk--one-third;

	background: 			$black;
}

.map {
	@extend 				%grid__item;
	@extend 				%lap--one-half;
	@extend 				%desk--two-thirds;

	position: 				relative;
}

.address {
	box-sizing: 			border-box;
	color: 					$lightgrey;
	padding: 				$gutter;
	text-align: 			center;

	h4 {
		color: 				$white;
		font-size: 			2em;
		margin: 			0 0 $gutter/2 0;
	}

	span {
		display: 			block;
		line-height: 		1.6;
	}

	a {
		@include border-radius(2px);
		color: 				$white;
		display: 			block;
		font-weight: 		700;
		margin: 			$gutter/4 0;
		padding: 			$gutter/4;

		&:active,
		&:focus,
		&:hover {
			background: 	lighten($black, 10%);
		}
	}
}

.address,
.map,
.map-container {
	min-height: 			30em;

	@media print {
		min-height: 		0;
	}
}