@font-face {
	font-family: 'pt';
	src:url('../fonts/pt.eot');
	src:url('../fonts/pt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pt.woff') format('woff'),
		url('../fonts/pt.ttf') format('truetype'),
		url('../fonts/pt.svg#pt') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'pt';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-thumbs-up, .icon-menu, .icon-plus, .icon-phone, .icon-checkmark, .icon-arrow-up, .icon-briefcase, .icon-users, .icon-envelope, .icon-bubble, .icon-location, .icon-left, .icon-right, .icon-github, .icon-github-2, .icon-file-xml, .icon-html5, .icon-css3, .icon-user, .icon-profile, .icon-mobile, .icon-mobile-2, .icon-tablet, .icon-screen, .icon-laptop, .icon-apple, .icon-android, .icon-windows8, .icon-cogs, .icon-cog, .icon-home, .icon-info {
	font-family: 'pt';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-thumbs-up:before {
	content: "\25";
}
.icon-menu:before {
	content: "\27";
}
.icon-plus:before {
	content: "\34";
}
.icon-phone:before {
	content: "\35";
}
.icon-checkmark:before {
	content: "\33";
}
.icon-arrow-up:before {
	content: "\21";
}
.icon-briefcase:before {
	content: "\22";
}
.icon-users:before {
	content: "\23";
}
.icon-envelope:before {
	content: "\24";
}
.icon-bubble:before {
	content: "\26";
}
.icon-location:before {
	content: "\28";
}
.icon-left:before {
	content: "\38";
}
.icon-right:before {
	content: "\39";
}
.icon-github:before {
	content: "\29";
}
.icon-github-2:before {
	content: "\2a";
}
.icon-file-xml:before {
	content: "\2b";
}
.icon-html5:before {
	content: "\2c";
}
.icon-css3:before {
	content: "\2d";
}
.icon-user:before {
	content: "\2e";
}
.icon-profile:before {
	content: "\2f";
}
.icon-mobile:before {
	content: "\30";
}
.icon-mobile-2:before {
	content: "\31";
}
.icon-tablet:before {
	content: "\32";
}
.icon-screen:before {
	content: "\36";
}
.icon-laptop:before {
	content: "\37";
}
.icon-apple:before {
	content: "\3a";
}
.icon-android:before {
	content: "\3b";
}
.icon-windows8:before {
	content: "\3c";
}
.icon-cogs:before {
	content: "\3d";
}
.icon-cog:before {
	content: "\3e";
}
.icon-home:before {
	content: "\3f";
}
.icon-info:before {
	content: "\40";
}
