.block-list
	list-style 					none
	padding-left 				0

	&,
	> li
		border 					0 solid rgba(0,0,0,0.075)
		border-top-width 		1px
	&
		border-bottom-width 	1px
		border-bottom-color 	rgba(255,255,255,0.3)

	> li
		border-bottom-width 	1px
		border-top-width 		1px
		border-top-color 		rgba(255,255,255,0.3)
		padding 				$half-spacing-unit $half-spacing-unit $half-spacing-unit 0