html
	background 					#333
	border-left 				8px solid $brand-yellow-color
	color 						#555
	font-family 				"PT Sans", sans-serif
	font-weight 				300

body
	background 					#f9f9f9
	margin 						0
	padding-left 				0
	padding-top 				$base-spacing-unit + 10
	position 					relative
	-webkit-font-smoothing 		antialiased
	media-query(desk)
		padding-left 			10px
		padding-top 			$base-spacing-unit

.wrapper
	margin-left 				auto
	margin-right 				auto
	max-width 					640px
	padding 	 				0 $base-spacing-unit $base-spacing-unit $base-spacing-unit
	media-query(portable)
		max-width 				320px
		padding 	 			0 $half-spacing-unit $half-spacing-unit $half-spacing-unit

.ಠ_ಠ
	display 					none !important

.site-logo
	img
		display 				block
		float 					left
		margin-right 			$base-spacing-unit
		padding-top 			5px
	.page-home &
		cursor 					default

.post-time
	padding-left 				$half-spacing-unit

.post-title
	margin 						0
	a
		display 				block
		padding					$half-spacing-unit
		&:active,
		&:focus,
		&:hover
			background 			lighten($brand-yellow-color,50%)
			-webkit-transition  0.3s all ease-in-out
			-moz-transition 	0.3s all ease-in-out
			-ms-transition 		0.3s all ease-in-out
			-o-transition 		0.3s all ease-in-out
			transition 			0.3s all ease-in-out