h1,
h2,
h3,
h4,
h5,
h6
	color 						$brand-color
	font-weight 				300
	a
		text-decoration 		none

h1
	display 					inline-block
	margin-top 					0
	padding-top 				0

dt
	font-weight 				500

figcaption
	font-size(12px)

b,
strong,
a
	font-weight 				500

mark
	background-color 			#ff8
	color 						inherit

q
	font-style 					italic

a
	color 						$brand-color

blockquote
	border-left 				8px solid rgba(0,0,0,0.1)
	padding-left 				$half-spacing-unit

pre
	background-color 			#333
	border-radius 				$brand-round
	box-shadow(0 0 15px rgba(0,0,0,0.25) inset)
	color 						#fff
	overflow 					auto
	padding 					$half-spacing-unit
	white-space 				pre 
	word-wrap 					normal

pre,
code,
kbd,
samp
	font-family 				"Courier New", Courier, monospace

code,
kbd,
samp
	color 						#859900

	pre &
		color 					#fff

.code-comment
	opacity 					0.5

hr
	border-style 				solid
	border-bottom-color 		rbga(255,255,255,0.75)
	border-top-color 			rgba(0,0,0,0.075)
	border-width 				1px 0