---
layout: default-real
---
{% for post in paginator.posts %}
	{% if post.categories contains 'job' %}
						<tr>
							<td>
								<h4>{{ post.title }} : <small><i>posted: {{ post.date | date: "%d %B, %Y" }}</i></small></h4>
								<p>{{ post.short-description }}</p>
							</td>
							<td>
								<a href="{{ post.url }}" class="button" title="View the Job Description for {{ post.title }} in a new window" target="_blank"><span class="icon icon-file"></span> Job Description</a>
								<a href="mailto:tech@profero.com?subject=Applying%20for%20position%3A%20{{ post.title }}" class="button" title="Apply for: {{ post.title }}"><span class="icon icon-thumbs-up"></span> Apply</a>
							</td>
						</tr>
	{% endif %}
{% endfor %}