.page-header {
	.hgroup {
		h1 {
			@include transition($slow-transition);
		}
		h2 {
			@include transition($slow-transition);
		}
	}

	nav {
		@include transition($slow-transition);
	}
}

.whyus {
	h1 {
		@include transition($slow-transition);
	}

	.reasons {
		.reason-wrapper {
			@include transition($slow-transition);
		}
	}
}

.work {
	h1 {
		@include transition($slow-transition);
	}

	.work-carousel {
		@include transition($slow-transition);
	}
}

.clients {
	h1 {
		@include transition($slow-transition);
	}

	.client-logo-container {
		@include transition($slow-transition);
	}
}

.testimonials {
	h1 {
		@include transition($slow-transition);
	}

	.testimonials-wrapper {
		@include transition($slow-transition);
	}
}

.contact {
	.banner {
		@include transition($slow-transition);
	}

	.map-container {
		@include transition($slow-transition);
	}

	.contact-details {
		h4 {
			@include transition($slow-transition);
		}

		span {
			@include transition($slow-transition);
		}

		a {
			@include transition($slow-transition);
		}
	}
}