.page-jobs,
.page-job,
.page-blog,
.page-blog-post {

	h1 {
		margin-top: 				$gutter*2;
		padding: 					0 $gutter;

		@media print {
			position: 				relative;
			margin-bottom: 			$gutter*1.5;

			&:after {
				content: 			"http://proferotech.com";
				display: 			block;
				font-size: 			50%;
			}
		}
	}
}

.page-job,
.page-blog-post {

	h1 {
		box-sizing: 				border-box;
		margin: 					$gutter*2 auto 0 auto;
		width: 						96%;
		word-break: 				break-word;

		@include breakpoint(lap) {
			width: 					80%;
		}

		@media print {
			width: 					100%;
		}
	}

	.date-posted {
		margin-bottom: 				$gutter*1.5;
		opacity: 					0.8;
		overflow: 					hidden;
		text-align: 				center;

		@media print {
			margin-bottom: 			0;
		}

		span {
			display: 				inline-block;
			position: 				relative;

			&:before,
			&:after {
				border-bottom: 		1px solid $lightergrey;
				content: 			"";
				height: 			1px;
				position: 			absolute;
				top: 				50%;
				width: 				6000px;
			}

			&:before {
				right: 				100%;
				margin-right: 		$gutter/2;
			}

			&:after {
				left: 				100%;
				margin-left: 		$gutter/2;
			}

		}
	}
}

.job {
	text-align: 					center;
}

.blog-post,
.job-description {

	background: 					$reallylightgrey;
	box-sizing: 					border-box;
	margin: 						0 auto $gutter auto;
	overflow: 						hidden;
	padding: 						$gutter;
	text-align: 					left;
	width: 							96%;

	@include breakpoint(lap) {
		width: 						80%;
	}

	@media print {
		padding: 					0;
	}

	h2 {
		font-size: 					2em;
		font-weight: 				500;
		margin: 					0;
	}

	p {
		line-height: 				1.6;

		&.caption {
			font-size: 				85%;
			font-style: 			italic;
			margin-top: 			0;
			text-align: 			center;
		}
	}

	a {
		color: 						$blue;
		padding: 					2px;

		&:active,
		&:focus,
		&:hover {
			background: 			$white;
			border-bottom: 			1px dotted $blue;
		}
	}

	img {
		border: 					5px solid rgba($white,0.8);
		@include 					box-shadow(0 0 2px rgba($black,0.5));
		display: 					block;
		margin: 					0 auto;
		position: 					relative;

		@media print {
			border: 				none;
			@include 				box-shadow(none);
		}

	}

	blockquote {
		background: 					#eeeeee;
		box-sizing: 					border-box;
		float: 							left;
		font-size: 						1.4em;
		line-height: 					1.4;
		margin: 						$gutter;
		padding: 						$gutter*1.25;
		position: 						relative;
		width: 							50%;

		&.left {
			margin-left: 				0;
		}

		&.right {
			margin-right: 				0;
		}

		&:before,
		&:after {
			color: 						$grey;
			display: 					block;
			font-family: 				"Baskerville", Georgia, serif;
			font-size: 					2.5em;
			opacity: 					0.5;
			position: 					absolute;
		}

		&:before {
			content: 					"“";
			left: 						0;
			top: 						0;
		}

		&:after {
			bottom: 					-$gutter;
			content: 					"”";
			right: 						0;
		}
	}

	li {
		margin: 						$gutter/2;
	}

}

.jobs-list,
.blog-list {
	@extend 						.unstyled-list;
	margin: 						0 auto $gutter auto;
	width: 							96%;

	@include breakpoint(lap) {
		width: 						80%;
	}

	li {
		margin: 					$gutter/4 0;

		a {
			display: 				block;
			overflow: 				hidden;
			padding: 				$gutter;
			position: 				relative;

			@media print {
				padding: 			0;
			}

			.icon-info,
			.icon-right {
				color: 				$white;
				font-size: 			2em;
				margin-right: 		-$gutter*3;
				opacity: 			0;
				position: 			absolute;
				right: 				$gutter;
				top: 				$gutter;

				@include transition($transition);
			}

			&:active,
			&:focus,
			&:hover {

				padding-left: 		$gutter*1.5;

				.icon-info,
				.icon-right {
					margin-right: 	0;
					opacity: 		1;

					@include transition($transition);
				}

			}
		}

		h2 {
			font-size: 				2em;
			font-weight: 			500;
			margin: 				0;
		}

		.date-posted {
			font-size: 				85%;
			font-style: 			italic;
			margin-top: 			0;
			opacity: 				0.6;
		}

		p:not(.date-posted) {
			line-height: 			1.6;
		}

	}

	li:nth-child(6n+1) {

		a {
			background: 			$reallylightgrey;
			color: 					$bodytext;

			&:active,
			&:focus,
			&:hover {
				background: 		$colour1;
				color: 				$white;
			}
		}

	}

	li:nth-child(6n+2) {

		a {
			background: 			$reallylightgrey;
			color: 					$bodytext;

			.icon-info,
			.icon-right {
				color: 				$bodytext;
			}

			&:active,
			&:focus,
			&:hover {
				background: 		$colour2;
			}
		}

	}

	li:nth-child(6n+3) {

		a {
			background: 			$reallylightgrey;
			color: 					$bodytext;

			&:active,
			&:focus,
			&:hover {
				background: 		$colour3;
				color: 				$white;
			}
		}

	}

	li:nth-child(6n+4) {

		a {
			background: 			$reallylightgrey;
			color: 					$bodytext;

			&:active,
			&:focus,
			&:hover {
				background: 		$colour4;
				color: 				$white;
			}
		}

	}

	li:nth-child(6n+5) {

		a {
			background: 			$reallylightgrey;
			color: 					$bodytext;

			&:active,
			&:focus,
			&:hover {
				background: 		$colour5;
				color: 				$white;
			}
		}

	}

	li:nth-child(6n+6) {

		a {
			background: 			$reallylightgrey;
			color: 					$bodytext;

			&:active,
			&:focus,
			&:hover {
				background: 		$colour6;
				color: 				$white;
			}
		}

	}
}

.apply-button {
	background: 					$yellow;
	margin: 						0 auto $gutter auto;

	&:active,
	&:focus,
	&:hover {
		background: 				$black;
		color: 						$white;
	}
}