/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: $black;
		z-index: 5000;
		display: none;
		top: 0;
		left: 0; 
		}
	
	.reveal-modal {
		visibility: hidden;
		display:none;
		box-sizing: border-box;
		top: 10%; 
		left: 5%;
		width: 90%;
		color: $white;
		opacity: 1;
		position: fixed;
		z-index: 6000;
		padding: $gutter;
		text-align: center;
		@include border-radius(2px);
		@include breakpoint(desk) {
			left: 25%;
			width: 50%;
		}

		h1 {
			margin: 0;
		}

		.emailus {
			background: $yellow;
		}

		.close {
			background: $lightergrey;
		}

		.button {
			&:active,
			&:focus,
			&:hover {
				background: $white !important;
			}
		}

		}
