.whatwedo {
	margin-bottom: 			$gutter/2;
}

.services {
	@extend 				%grid--full;
}

.service-wrapper {
	@extend 				%grid__item;
	@extend 				%one-whole;
	@extend 				%lap--one-third;
	@extend 				%desk--one-quarter;


	&:nth-child(6n+1) {
		&:hover .service {
			border: 		1px solid $colour1;
			transition: 	$transition;
		}
		i {
			color: 			$colour1;
		}
		p {
			background: 	$colour1;
		}
	}
	&:nth-child(6n+2) {
		&:hover .service {
			border: 		1px solid $colour2;
			transition: 	$transition;
		}
		i {
			color: 			$colour2;
		}
		p {
			background: 	$colour2;
		}
	}
	&:nth-child(6n+3) {
		&:hover .service {
			border: 		1px solid $colour3;
			transition: 	$transition;
		}
		i {
			color: 			$colour3;
		}
		p {
			background: 	$colour3;
		}
	}
	&:nth-child(6n+4) {
		&:hover .service {
			border: 		1px solid $colour4;
			transition: 	$transition;
		}
		i {
			color: 			$colour4;
		}
		p {
			background: 	$colour4;
		}
	}
	&:nth-child(6n+5) {
		&:hover .service {
			border: 		1px solid $colour5;
			transition: 	$transition;
		}
		i {
			color: 			$colour5;
		}
		p {
			background: 	$colour5;
		}
	}
	&:nth-child(6n+6) {
		&:hover .service {
			border: 		1px solid $colour6;
			transition: 	$transition;
		}
		i {
			color: 			$colour6;
		}
		p {
			background: 	$colour6;
		}
	}

	&:hover {
		p {
			opacity: 		1;
			transition: 	$transition;
		}
	}

}

.offset-desk {
	@extend 				%push--desk--one-quarter;
}

.offset-lap {
	@extend 				%push--lap--one-third;
}

.service {
	border: 				1px solid $lightergrey;
	margin: 				$gutter/2;
	overflow: 				hidden;
	padding: 				$gutter;
	position: 				relative;
	text-align: 			center;

	@media print {
		background: 		$white !important;
		color: 				$black !important;
		padding: 			0;
	}

	i {
		display: 			block;
		font-size: 			3em;
		margin-bottom: 		$gutter;
		transition: 		$transition;
	}

	h3 {
		font-size: 			1.5em;
		margin: 			0;

		@include breakpoint(lap) {
			font-size: 		1.6em;
		}

		@include breakpoint(desk) {
			font-size: 		2em;
		}
	}

	p {
		bottom: 			0;
		color: 				$white;
		font-size: 			125%;
		left: 				0;
		margin: 			0;
		opacity: 			0;
		padding: 			$gutter;
		position: 			absolute;
		right: 				0;
		top: 				0;
		transition: 		$transition;
	}

}