<div id="portfolio-item" data-ng-model="project">
			
	<a href="/cn/" class="back button" title="看其他的项目"><span class="icon icon-hand-left"></span>  回</a>
			
	<h2>{{project.name}}</h2>
	<h3>{{project.tagline}}</h3>
			
	<div class="container-fluid">
		<div class="row-fluid">
			
			<div class="span7">
				
				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner" setactive>
						
						<div class="item" data-ng-repeat="image in project.images">
							<img alt="{{project.name}} screenshot" src="{{image}}">
						</div>
						
					</div>
					
					<a class="carousel-control left" href="#myCarousel" data-slide="prev">
						<span class="icon icon-large icon-chevron-left"></span>
					</a>
					<a class="carousel-control right" href="#myCarousel" data-slide="next">
						<span class="icon icon-large icon-chevron-right"></span>
					</a>
					
				</div>
						
			</div>
					
			<div class="span5" data-ng-bind-html="project.description">
					<a href="{{project.url}}" class="button visit" target="_blank" title="在新窗户浏览 {{project.url}}">{{project.url}}</a>
			</div>

		</div>
	</div>
			
</div>