<div class="banner">
	<h2>一些我们很自豪的项目</h2>
</div>

<div class="container-fluid portfolio-items">
					
	<ul class="row-fluid" resizeportfolioitems>
					
		<li class="span3" data-ng-repeat="project in projects.slice(0,4) | orderBy:'name'">
						
			<div class="portfolio-item {{project.slug}}" data-bgoffset="{{project.offset}}" setbackgroundoffset="{{project.offset}}">
				<div class="info">
					<h3>{{project.name}}</h3>
					<p>{{project.category}}</p>
				</div>
				<a href="/cn/#/portfolio/{{project.slug}}" title="看看我们为{{project.name}}做什么了"></a>
			</div>
						
		</li>
					
	</ul>
	
	<ul class="row-fluid hiddenphone" resizeportfolioitems>
					
		<li class="span3" data-ng-repeat="project in projects.slice(4,8) | orderBy:'name'">
						
			<div class="portfolio-item {{project.slug}}" data-bgoffset="{{project.offset}}" setbackgroundoffset="{{project.offset}}">
				<div class="info">
					<h3>{{project.name}}</h3>
					<p>{{project.category}}</p>
				</div>
				<a href="/cn/#/portfolio/{{project.slug}}" title="看看我们为{{project.name}}做什么了"></a>
			</div>
						
		</li>
					
	</ul>
				
</div>