@import './imports/variables.styl'
@import './imports/mixins.styl'
@import './imports/modals.styl'
@import './imports/layout.styl'
@import './imports/main-panel.styl'
@import './imports/form-elements.styl'
@import './imports/typography.styl'
@import './imports/alerts.styl'

/*!
 *
 * Diageo Age Gateway v.4.0.1
 * Some styles taken from Twitter Bootstrap:
 * 
 * Bootstrap v2.0.1
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world $twitter by $mdo and $fat.
 */

.pp
	@extends 					.modal-backdrop