.page-footer
	background 				#333
	font-size(12px)
	width 					100%

	&,
	a
		color 				#f2f2f2
		text-shadow 		0 1px 1px rgba(0,0,0,0.75)
	a
		font-weight 		300
		text-decoration 	underline

		&:active,
		&:focus,
		&:hover
			text-decoration none

	.wrapper
		padding 			$half-spacing-unit 0