---
layout: jobs-index
---
				
				<ul class="jobs-list">
					
{% for post in site.posts %}
	{% if post.categories contains 'jobs' and post.language == 'english' %}
		{% unless post.categories contains 'preview' %}
					
					<li>
						<a href="{{ post.url }}">
							<h2>{{ post.title }}</h2>
							<p class="date-posted">{{ post.date | date: "%B %d, %Y" }}</p>
							<p>{{ post.shortdescription }}</p>
							<i class="icon-info"></i>
						</a>
					</li>
					
		{% endunless %}
	{% endif %}
{% endfor %}
					
				</ul>