<!DOCTYPE html>
<html lang="en" class="page page-job">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0">

		<!-- Prefetch DNS for external assets (Twitter widgets etc). -->
		<link rel="dns-prefetch" href="//fonts.googleapis.com">
		<link rel="dns-prefetch" href="//www.google-analytics.com">

		<title>{{ page.title }} &ndash; Jobs @ Proferotech &ndash; Technology Experts in Digital Marketing Solutions</title>

		<link rel="stylesheet" href="/css/styles.css">
			
		<link rel="shortcut icon" href="/icon.png">
		<link rel="apple-touch-icon-precomposed" href="/icon.png">
		<meta name="apple-mobile-web-app-title" content="Profero Tech &ndash; Technology Experts in Digital Marketing Solutions">
		<meta name="description" content="Technology experts in digital marketing solutions. We build websites, apps, and data storage, and provide analysis, testing, and consulting services on the application of technology for digital marketing projects. We're based in Beijing but work for a variety of brands across the globe. Contact tech@profero.com to start a project with us.">
		<meta name="msapplication-TileColor" content="#f6d431">
		<meta name="msapplication-TileImage" content="/icon.png">
			
		<meta itemprop="name" content="ProferoTech &ndash; Technology experts in digital marketing solutions">
		<meta itemprop="description" content="ProferoTech: Technology experts in digital marketing solutions. We build websites, apps, and data storage, and provide analysis, testing, and consulting services on the application of technology for digital marketing projects. We're based in Beijing but work for a variety of brands across the globe. Contact tech@profero.com to start a project with us.">
		<meta itemprop="url" content="http://proferotech.com">
		<meta itemprop="image" content="http://proferotech.com/images/logo.png">
			
		<meta property="og:title" content="ProferoTech &ndash; Technology experts in digital marketing solutions">
		<meta property="og:description" content="ProferoTech: Technology experts in digital marketing solutions. We build websites, apps, and data storage, and provide analysis, testing, and consulting services on the application of technology for digital marketing projects. We're based in Beijing but work for a variety of brands across the globe. Contact tech@profero.com to start a project with us.">
		<meta property="og:url" content="http://proferotech.com">
		<meta property="og:image" content="http://proferotech.com/images/logo.png">

	</head>
	<body>
		
		<div class="wrapper" role="main">
			
			<div class="nav-wrapper">
				<div class="navbar">
					
					<a class="home-button" href="/preview/jobs/" title="Back to the Jobs Page"><i class="icon-left"></i></a>
					
					<a href="#" class="menu-toggle" data-reveal-id="letsgetstarted" title="Apply for a job"><i class="icon-signup" data-animation="fade"></i></a>
					
				</div>
			</div>
			
			<section class="job" id="job">
				
				<h1>{{ page.title }}</h1>
				<p class="date-posted">{{ page.date | date: "%B %d, %Y" }}</p>
				
				<div class="job-description">

					{{ content }}

				</div>
				
				<a href="mailto:tech@profero.com?subject=Job%20Application%3A%20{{ page.title }}" class="button apply-button"><i class="icon-signup"></i> Apply for this job</a>
				
			</section>
		
		</div>
		
		<footer class="page-footer" role="contentinfo">
			<p>&copy; 2013 Profero &ndash; <a href="http://www.profero.com" title="visit our parent company website">www.profero.com</a> &ndash; <a href="/cn{{ page.url }}?lang=cn">中文版</a></p>
		</footer>
		
		<div id="letsgetstarted" class="reveal-modal">
			<h1>Join us!</h1>
			<h2>If you're passionate about web technology and think you'd like to work with some amazing brands then let us know!</h2>
			<div class="button-group">
				<a href="mailto:tech@profero.com?subject=Job%20Application" class="button emailus"><i class="icon-envelope"></i> tech@profero.com</a>
				<a href="#" class="button close close-reveal-modal">close &#215;</a>
			</div>
		</div>
		
		<script src="/js/main.min.js"></script>

		<!--
		<script>
			   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			   ga('create', 'UA-15576216-2', 'proferotech.com');
			   ga('send', 'pageview');
		</script>
		-->

	</body>
</html>