<!DOCTYPE html>
<html lang="en" class="page page-job">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0">

		<!-- Prefetch DNS for external assets (Twitter widgets etc). -->
		<link rel="dns-prefetch" href="//fonts.googleapis.com">
		<link rel="dns-prefetch" href="//www.google-analytics.com">

		<title>{{ page.title }} &ndash; Jobs @ Proferotech &ndash; Technology Experts in Digital Marketing Solutions</title>

		<link rel="stylesheet" href="/css/styles.css">
			
		<link rel="shortcut icon" href="/icon.png">
		<link rel="apple-touch-icon-precomposed" href="/icon.png">
		<meta name="apple-mobile-web-app-title" content="Profero Tech &ndash; 数字营销解决方案的技术专家">
		<meta name="description" content="数字营销解决方案的技术专家. 我们做网站，网上软件，数据库，分析，和咨询。为了数字营销的项目我们提供各种技术能力。我们在北京的CBD而且我们的客户包括全球的杰出牌子。联系tech@profero.com。">
		<meta name="msapplication-TileColor" content="#f6d431">
		<meta name="msapplication-TileImage" content="/icon.png">
			
		<meta itemprop="name" content="ProferoTech | Technology experts in digital marketing solutions">
		<meta itemprop="description" content="ProferoTech: 数字营销解决方案的技术专家. 我们做网站，网上软件，数据库，分析，和咨询。为了数字营销的项目我们提供各种技术能力。我们在北京的CBD而且我们的客户包括全球的杰出牌子。联系tech@profero.com。">
		<meta itemprop="url" content="http://proferotech.com">
		<meta itemprop="image" content="http://proferotech.com/images/logo.png">
			
		<meta property="og:title" content="Profero Tech &ndash; 数字营销解决方案的技术专家">
		<meta property="og:description" content="ProferoTech: 数字营销解决方案的技术专家. 我们做网站，网上软件，数据库，分析，和咨询。为了数字营销的项目我们提供各种技术能力。我们在北京的CBD而且我们的客户包括全球的杰出牌子。联系tech@profero.com。">
		<meta property="og:url" content="http://proferotech.com">
		<meta property="og:image" content="http://proferotech.com/images/logo.png">

	</head>
	<body>
	
		<!-- Hidden preload `div` to fetch images before CSS needs them. -->
		<div class="ಠ_ಠ">
			<img src="/images/work-sprite.jpg" alt="">
			<img src="/images/logo-sprite.png" alt="">
		</div>
		
		
		<div class="wrapper" role="main">
			
			<div class="nav-wrapper">
				<div class="navbar">
					
					<a class="home-button" href="/preview/cn/jobs" title="回招工"><i class="icon-left"></i></a>
					
					<a href="#" class="menu-toggle" data-reveal-id="letsgetstarted" title="申请"><i class="icon-thumbs-up" data-animation="fade"></i></a>
					
				</div>
			</div>
			
			<section class="job" id="job">
				
				<h1>{{ page.title }}</h1>
				<p class="date-posted">{{ page.date | date: "%B %d, %Y" }}</p>
				
				<div class="job-description">

					{{ content }}

				</div>
				
				<a href="mailto:tech@profero.com?subject=Job%20Application%3A%20{{ page.title }}" class="button apply-button"><i class="icon-thumbs-up"></i> Apply for this job</a>
				
			</section>
		
		</div>
		
		<footer class="page-footer" role="contentinfo">
			<p>&copy; 2013 Profero &ndash; <a href="http://www.profero.com" title="访问我们母公司的网站">www.profero.com</a> &ndash; <a href="/{{page.englishurl}}?lang=en">English</a></p>
		</footer>
		
		<div id="letsgetstarted" class="reveal-modal">
			<h1>加入我们!</h1>
			<h2>你要是想为世界最精彩的网站做贡献那就给我们发个email!</h2>
			<div class="button-group">
				<a href="mailto:tech@profero.com?subject=Job%20Application" class="button emailus"><i class="icon-envelope"></i> tech@profero.com</a>
				<a href="#" class="button close close-reveal-modal">close &#215;</a>
			</div>
		</div>
		
		<script src="/js/main.min.js"></script>

		<!--
		<script>
			   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			   ga('create', 'UA-15576216-2', 'proferotech.com');
			   ga('send', 'pageview');
		</script>
		-->

	</body>
</html>