//COLOURS
$bgColour: 			#f2f2f2;
$white: 			#ffffff;
$proferoYellow:		#f6d431;
$textColour: 		#666666;
$linkColour: 		#000000;
$buttonBorder: 		#cccccc;
$buttonSpecialBg: 	$proferoYellow;
$footerColour: 		#222222;

//TYPOGRAPHY
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,700);
$font: 				"Raleway", sans-serif;